﻿@using WeatherAPI.Models;
@model object

@*@Html.Label(Model.temperatura_c)*@

@if (Model is APIEnglishInfo)
{
    @Html.Label((Model as APIEnglishInfo).location, new { @class = "ui big green label" })<br>
    @Html.Label((Model as APIEnglishInfo).temperature_c, new { @class = "ui grey label" })<br>
    @Html.Label((Model as APIEnglishInfo).temperature_f, new { @class = "ui grey label" })<br>
    @Html.Label((Model as APIEnglishInfo).date_search, new { @class = "ui grey label" })<br>
    @Html.Label((Model as APIEnglishInfo).humidity, new { @class = "ui grey label" })<br>
    @Html.Label((Model as APIEnglishInfo).visibility_km, new { @class = "ui grey label" })<br>
    @Html.Label((Model as APIEnglishInfo).visibility_mil, new { @class = "ui grey label" })<br>
    @Html.Label((Model as APIEnglishInfo).wind_angle, new { @class = "ui grey label" })<br>
    @Html.Label((Model as APIEnglishInfo).wind_direction, new { @class = "ui grey label" })<br>
    @Html.Label((Model as APIEnglishInfo).wind_kph, new { @class = "ui grey label" })<br>
    @Html.Label((Model as APIEnglishInfo).wind_mph, new { @class = "ui grey label" })<br>
    @Ajax.ActionLink("Ask assist about tips !", "CheckAssistent", "Home", new AjaxOptions { UpdateTargetId = "assistResult" }, new { @class = "ui inverted green button" })
}
else if (Model is APIPolishInfo)
{
    @Html.Label((Model as APIPolishInfo).lokalizacja, new { @class = "ui big green label" });<br>
    @Html.Label((Model as APIPolishInfo).temperatura_c, new { @class = "ui grey label" });<br>
    @Html.Label((Model as APIPolishInfo).temperatura_f, new { @class = "ui grey label" });<br>
    @Html.Label((Model as APIPolishInfo).data_badania, new { @class = "ui grey label" });<br>
    @Html.Label((Model as APIPolishInfo).wilgotnosc, new { @class = "ui grey label" });<br>
    @Html.Label((Model as APIPolishInfo).widocznosc_km, new { @class = "ui grey label" });<br>
    @Html.Label((Model as APIPolishInfo).widocznosc_mil, new { @class = "ui grey label" });<br>
    @Html.Label((Model as APIPolishInfo).kat_wiatru, new { @class = "ui grey label" });<br>
    @Html.Label((Model as APIPolishInfo).kierunek_wiatru, new { @class = "ui grey label" });<br>
    @Html.Label((Model as APIPolishInfo).wiatr_kph, new { @class = "ui grey label" });<br>
    @Html.Label((Model as APIPolishInfo).wiatr_mph, new { @class = "ui grey label" });<br>

    @Ajax.ActionLink("Spytaj asystenta o poradę !", "CheckAssistent", "Home", new AjaxOptions { UpdateTargetId = "assistResult" },new { @class= "ui inverted green button" })
}
else
{
    @Html.Label("Wystąpiły zmiany w api - powiadom dostawcę usługi !", new { @class = "ui red label" })<br>
}



<br>
<div id="assistResult"></div>