﻿
@{
    ViewBag.Title = "EnglishSearcher";
}

<h2>Searcher</h2>

@using (Ajax.BeginForm("CheckWeatcher", "Home", new AjaxOptions { UpdateTargetId = "results", OnSuccess = "clearInput()", LoadingElementId = "loading" }))
{
    @Html.AntiForgeryToken()
    @Html.Label("Input localization:",new {@class= "ui green button" })
    @Html.TextBox("location", null);
    <button type="submit" class="ui inverted green button" onmouseup="clearInput()">Wyślij</button>
}


<div id="results"></div>
<br>
<br>
<br>
@Html.ActionLink("Check history", "ShowHistory", "Home", new { @class = "ui inverted green button" })

<script>
        function clearInput() {

            $('#tableChat').scrollTop($('#tableChat')[0].scrollHeight);

            $(document).ready(function () {
                $("#commentTextBox").each(function () {
                    $(this).val("");
                });
            });
        }
</script>

