﻿
@{
    ViewBag.Title = "Index";
}

<h2>Wybierz język/Choose language</h2>

@{
    List<SelectListItem> listLanguage = new List<SelectListItem>()
    {
        new SelectListItem() { Value = "0", Text="POLSKI"},
        new SelectListItem() { Value = "1", Text = "ANGIELSKI" }
    };



    }

@using (Html.BeginForm("LanguageHandling", "Home"))
{
    @Html.AntiForgeryToken()
    @Html.DropDownList("language",listLanguage)
    <button type="submit" >Wybierz</button>
}



