﻿
@{
    ViewBag.Title = "PolishSearcher";
}

<h2>Wyszukiwarka</h2>

@using (Ajax.BeginForm("CheckWeatcher", "Home", new AjaxOptions { UpdateTargetId = "results", OnSuccess = "clearInput()",LoadingElementId="loading"}))
    {
        @Html.AntiForgeryToken()
        @Html.Label("Wprowadź lokalizację:", new { @class = "ui green button" })
        @Html.TextBox("location",null);
        <button type="submit" class="ui inverted green button" onmouseup="clearInput()">Wyślij</button>
    }


    <div id="results"></div>
<br>
<br>
<br>
@Html.ActionLink("Sprawdź historię", "ShowHistory", "Home", new {@class= "ui inverted green button" })

    <script>
        function clearInput() {

            $('#tableChat').scrollTop($('#tableChat')[0].scrollHeight);

            $(document).ready(function () {
                $("#commentTextBox").each(function () {
                    $(this).val("");
                });
            });
        }
    </script>
