﻿@using WeatherAPI.Models;
@model List<APIHistory>
@{
    ViewBag.Title = "ShowHistory";
}
<table class="ui celled striped table">
<thead><tr><td>Miejsce/Location</td><td>Opis/Description</td><td>Temperatura/Temperature</td></tr></thead>
<tbody>
@foreach (var item in Model)
{
	<tr><td>@item.CityName</td><td>@item.Description</td><td>@item.Temperature</td></tr>
}
</tbody>
</table>

@Html.ActionLink("Powrót","Index","Home", new { @class = "ui inverted green button" })

